*{
    margin:0;
    padding:0;
    box-sizing: border-box ;
}
body{
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}
.container h2{
    margin-left: 10px;
    font-size: 2rem;
}
.container p{
    font-size: 12px;
    margin: 10px 0 10px 15px;
    letter-spacing: 2px;
}
.container{
    padding:10px;
    width:100%;
    height:100vh;
    background-color: whitesmoke;
}
h2{
    font-size: 1.25rem;
    margin-top:10px;
    margin-bottom:20px;
}
.task-input-container{
    padding: 10px;
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#task-text{
    padding:10px;
    border: none;
    border-radius: 5px;
    outline: none;
    
    background: white;   
}
#task-text::placeholder{
    color:black;
    font-weight: 600;
}
#add-task{
    background:  #1F1C2C;
    color:white;
    border:none;
    padding:10px;
    border-radius:5px;
   
}
.board{
    display:flex;
    justify-content: space-around;
    width:100%;
}
.column{
    padding: 10px;
    width: 30%;
    min-height: 300px;  
}
.task-list{
    padding: 10px;
  text-align: left;
    
}
.task-list span{
    font-weight:500;
    font-family: Arial, Helvetica, sans-serif;
    margin:15px 5px;
}
.timestamp{
    color:#ccc;
    display: block;
    font-size: 12px;
    text-align: right;
}
.task{
    border-radius: 5px;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom:10px;
    border-radius: 5px;
   background-color: #fff;
    cursor: grab;
    transition: transform 0.5 ease, background-color 0.5 ease;
    display: flex;
    flex-direction: column;
   
}
.delete-task{
    background: none;
    color: #ccc;
    border:none;
    display:block;
    font-size: 14px;
    font-weight: 500;
   margin-top: auto;
   margin-left: auto;
    cursor: pointer;
}
.task.dragging{
    opacity: 0.5;
    transform: scale(1.1);
}
@media(max-width:768px){
    .board{
        display:flex;
        justify-content: space-around;
        flex-direction: column;
        width:100%;
    }
    .column{
        padding: 10px;
        width: 100%;
        min-height: 100%;  
    }
    .task{
        border-radius: 5px;
        box-shadow:  0 0 10px rgba(0, 0, 0, 0.1);
        padding: 10px;
        
        border-radius: 5px;
        background-color: #fff;
        cursor: grab;
        transition: transform 0.2 ease, background-color 0.2 ease;
        display: flex;
    
        flex-direction: column;
       
    }
   
}
#todo .task{
    background-color: #2196F3;
    color: white;
}
#todo .task .delete-task{
    color: #ccc;
}
#in-progress .task{
    background-color: #FF6E00;
    color: white;
}
#done .task{
    background-color: #1BAB42;
    color: #fff;
}
.edit{
    padding: 20px;
    outline: 1px solid #ccc;
    border-radius: 5px;
}
